.more {
    float: right;
    margin-top: 9px;
    font-size: 12px;
}
.cor {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    background-position: 0 -240px;
    background-image: url("../styles/index.png");
}
