a {
  text-decoration: none;
}
.recommend-conent {
  padding: 20px 20px 40px;
  margin-right: 251px;
  border: 1px solid #d3d3d3;
}
.recommend-conent .recommend-header {
  height: 33px;
  padding: 0 10px 0 34px;
  background-position: -225px -156px;
  border-bottom: 2px solid #c10d0c;
  background-image: url(../styles/index.png);
  background-repeat: no-repeat;
}
.recommend-conent .recommend-header .tit {
  text-decoration: none;
  float: left;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
.recommend-conent .recommend-header .tab {
  float: left;
  margin: 7px 0 0 20px;
}
.recommend-conent .recommend-header .tab .line {
  margin: 0 10px;
  color: #ccc;
}
.recommend-conent .recommend-header .more {
  float: right;
  margin-top: 9px;
  font-size: 12px;
}
.recommend-conent .recommend-header .more .cor {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  vertical-align: middle;
  background-position: 0 -240px;
  background-image: url("../styles/iconall.png");
}
.recommend-conent .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.recommend-conent .box {
  width: 140px;
  height: 140px;
  margin: 10px 15px 60px 10px;
  position: relative;
}
.recommend-conent .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recommend-conent .box .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27px;
  background-position: 0 -537px;
  color: #ccc;
  z-index: 2;
  background-image: url("../styles/coverall.png");
}
.recommend-conent .box .bottom .icon-play {
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 16px;
  height: 17px;
  background-position: 0 0;
  background-image: url("../styles/iconall.png");
}
.recommend-conent .box .bottom .icon-play:hover {
  filter: brightness(150%);
}
.recommend-conent .box .bottom .icon-headset {
  float: left;
  width: 14px;
  height: 11px;
  background-position: 0 -24px;
  margin: 9px 5px 9px 10px;
  background-image: url("../styles/iconall.png");
}
.recommend-conent .box .bottom .nb {
  float: left;
  margin: 7px 0 0 0;
}
.recommend-conent .box .dec {
  display: inline-block;
  margin: 8px 0 3px;
  font-size: 14px;
  height: 20px;
}
.recommend-conent .box .dec .hover {
  max-width: 100%;
  vertical-align: middle;
}
