.phone {
  width: 320px;
  min-height: 280px;
  height: 262px;
  margin: 0 auto;
  padding: 30px 0 43px;
}
.phone .input {
  margin-top: 50px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.phone .input .u-input {
  position: relative;
  float: left;
}
.phone .input .u-input input {
  position: absolute;
  width: 251px;
  height: 30px;
  left: 60px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 0 20px 20px 0;
}
.phone .input .u-input .mobile {
  background-position: -349px -343px;
  width: 54px;
  height: 34px;
  line-height: 34px;
  border-radius: 20px;
  background-image: url("https://urswebzj.nosdn.127.net/webzj_cdn101/sprite_61fbe151ab715649c6b7c4ec39156201.png");
}
.phone .input .u-input .mobile em {
  height: 11px;
  line-height: 11px;
  display: inline-block;
  margin-top: 13px;
  margin-left: 10px;
}
.phone .m-dxyz {
  position: relative;
  float: left;
  overflow: hidden;
  width: 193px;
  height: 36px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.phone .m-dxyz input {
  position: absolute;
  top: 4px;
  left: 10px;
  width: 175px;
  height: 25px;
  color: #bdbdbd;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.phone .pcbtn {
  width: 119px;
  height: 36px;
  margin-left: 8px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #ff3a3a;
  display: inline-block;
}
.phone .pcbtn label {
  position: absolute;
  right: 135px;
  top: 192px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}
.phone .power-btn {
  width: 320px;
  height: 36px;
  margin-top: 24px;
  background-color: #ff3a3a;
  border-radius: 20px;
}
.phone .power-btn a {
  display: block;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.phone .pasLogin {
  display: flex;
  position: absolute;
  bottom: 65px;
  color: #666;
  height: 20px;
}
.phone-bottom {
  position: absolute;
  width: 491px;
  left: 0px;
  padding: 0 19px;
  height: 48px;
  border-top: 1px solid #c6c6c6;
  border-radius: 0 0 4px 4px;
  line-height: 48px;
  background-color: #f7f7f7;
  bottom: 0px;
}
.phone-bottom #phone-a {
  font-size: 12px;
  color: #0c72c3;
}
section {
  margin: 0 auto;
  padding: 30px 0 43px;
  width: 220px;
}
section .password {
  position: relative;
  margin: 0;
  height: 30px;
  line-height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}
section .password .Yms {
  position: relative;
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 18px 0 5px;
  border-right: 1px solid #cdcdcd;
  color: #333;
}
section .password #pasInput {
  padding: 0 8px;
  width: 68%;
  height: 100%;
  outline: none;
  border: none;
  color: #333;
  background: none;
}
section .password .cWb {
  position: relative;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}
section .password .cWb input {
  display: block;
  padding: 0 8px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #333;
  background: none;
  box-sizing: border-box;
}
section .password .cWb a {
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  text-decoration: none;
}
section .password .dx {
  margin-top: 10px;
}
section .password .dx #dxLink {
  color: #333;
}
section .password .dx label {
  box-sizing: content-box;
  margin-left: 90px;
}
section .password .dx label #checked {
  margin: 0 6px 0 0;
}
section .password .password-login-botton {
  width: 180px;
  background-position: 0 -387px;
  padding: 0 15px 0 20px;
  height: 100%;
  color: #fff;
  cursor: pointer;
  line-height: 31px;
  margin-top: 10px;
  text-align: center;
  border-radius: 3px;
  background-image: url("https://p6.music.126.net/obj/wo3DlcOGw6DClTvDisK1/9647896553/4adc/4002/52e9/30a1d480dd30d8de52b23af576be8c48.png");
}
section .password .password-login-botton:hover {
  filter: blur(135%);
}
