.top {
  height: 100px;
  padding: 20px 0 0 19px;
}
.top .u-cover {
  float: left;
  display: inline;
  width: 80px;
  height: 80px;
  position: relative;
  background-image: url("../styles/bs.jpg");
  background-size: 100%;
}
.top .tit {
  float: left;
  width: 116px;
  margin: 6px 0 0 10px;
}
.top .tit h3 {
  color: #333;
}
.top .tit .btn {
  margin-top: 10px;
}
.top .tit .btn a {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  text-indent: -9999px;
  background-position: -267px -205px;
  background-image: url("../styles/index.png");
}
