.g-sd1 {
  position: relative;
  float: right;
  top: -800px;
  width: 250px;
  zoom: 1;
}
.g-sd1 .user-profile {
  height: 126px;
  padding-top: 0;
  background-image: url("../styles/index.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.g-sd1 .user-profile .note {
  width: 205px;
  margin: 0 auto;
  padding: 16px 0;
  line-height: 22px;
}
.g-sd1 .user-profile .btn {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 0 #8a060b;
  background-position: 0 -195px;
  background-image: url("../styles/index.png");
}
.g-sd1 .singer {
  margin-top: 15px;
}
.g-sd1 .singer .v-hd {
  position: relative;
  height: 23px;
  margin: 0 20px;
  color: #333;
  font-size: 100%;
  border-bottom: 2px solid #ccc;
}
.g-sd1 .singer .v-hd .more {
  float: right;
  font-weight: normal;
  color: #666;
}
.g-sd1 .singer .singer-list {
  margin: 6px 0 14px 20px;
}
.g-sd1 .singer .singer-list li {
  margin-top: 14px;
  float: left;
  width: 210px;
  height: 62px;
  background: #fafafa;
}
.g-sd1 .singer .singer-list li img {
  float: left;
  width: 62px;
  height: 62px;
  cursor: pointer;
}
.g-sd1 .singer .singer-list li .ifo {
  float: left;
  width: 133px;
  height: 60px;
  padding-left: 14px;
  border: 1px solid #e9e9e9;
  border-left: none;
}
.g-sd1 .singer .singer-list li .ifo .des {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #666;
}
.g-sd1 .singer .btn {
  margin-top: 20px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 4px;
  padding: 0px 5px 0 0;
  white-space: nowrap;
  color: #333;
  background-position: right -100px;
  background-image: url("../styles//button2.png");
}
.g-sd1 .singer .btn i {
  font-style: normal;
  width: 170px;
  font-weight: bold;
  display: inline-block;
  padding: 0 15px 0 20px;
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  text-align: center;
  background-position: 0 -59px;
  background-image: url("../styles//button2.png");
}
.g-sd1 .n-hotdj {
  margin-top: 30px;
}
.g-sd1 .n-hotdj .v-hd3 {
  position: relative;
  height: 23px;
  margin: 0 20px;
  color: #333;
  font-size: 100%;
  border-bottom: 2px solid #ccc;
}
.g-sd1 .n-hotdj .f-cb {
  margin: 20px 0 0 20px;
}
.g-sd1 .n-hotdj .f-cb li {
  float: left;
  width: 230px;
  height: 50px;
}
.g-sd1 .n-hotdj .f-cb li img {
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.g-sd1 .n-hotdj .f-cb li .info {
  float: left;
  width: 160px;
  height: 50px;
  padding-left: 8px;
}
.g-sd1 .n-hotdj .f-cb li .info .des {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #666;
}
